<?xml version="1.0" encoding="utf-8"?>
  <appSettings>
    <add key="HelpBOSettingsEnteCod" value="?title=Configurazione_Comune_Codice"/>
    <add key="HelpBOSettingsEnteAnnoICI" value="?title=Configurazione_Comune_Ultimo_ici"/>
    <add key="HelpBOSettingsEnteUsoGrat" value="?title=Configurazione_Comune_Anni_uso_gratuito"/>
    <add key="HelpBOSettingsEnteOperatoreProfilo" value="?title=Operatori_Profilo"/>

    <add key="HelpFAQFO" value="?title=FAQ_std"/>
    <add key="HelpFAQBO" value="?title=FAQ_utd"/>
    
    <add key="HelpFO" value="?title=FO_HOME"/>
    
    <add key="HelpFOTributi" value="?title=FO_TRIBUTI"/>
    <add key="HelpFOIstanze" value="?title=FO_ISTANZE"/>
    <add key="HelpFOReport" value="?title=FO_REPORTS"/>
	
	  <add key="HelpFOTributiDichToSend" value="?title=Dichiarazioni_da_inviare"/>
    
    <add key="HelpFORiepICI" value="?title=Consultazione_IMU"/>
    <add key="HelpFORiepTARSU" value="?title=Consultazione_TARI"/>
    <add key="HelpFORiepOSAP" value="?title=Consultazione_OSAP"/>
    
    <add key="HelpFOAccount" value="?title=FO_PROFILO"/>
    <add key="HelpFOAccountRecapito" value="?title=Profilo_Recapito"/>
    <add key="HelpFOAccountContatti" value="?title=Profilo_contatti"/>
    <add key="HelpFOAccountTipoRif" value="?title=Profilo_tipo_riferimento"/>
    <add key="HelpFOAccountDatiRif" value="?title=Dati_riferimento"/>

    <add key="HelpFODichICIUtilizzo" value="?title=IMU_Utilizzo"/>
    <add key="HelpFODichICIZona" value="?title=IMU_Zona"/>
    <add key="HelpFODichICIConsistenza" value="?title=IMU_Consistenza"/>
    <add key="HelpFODichICIUbicazione" value="?title=Dichiarazioni_ici_dich_ubicazione"/>
    <add key="HelpFODichICICategoria" value="?title=Dichiarazioni_ici_dich_CATEGORIA"/>

    <add key="HelpFODichTASIUbicazione" value="?title=Dichiarazioni_TASI_UBICAZIONE"/>
    <add key="HelpFODichTASICategoria" value="?title=Dichiarazioni_TASI_CATEGORIA"/>
    <add key="HelpFODichTASIEstremiContratto" value="?title=Dichiarazioni_TASI_ESTREMI_CONTRATTO_AFFITTO"/>
    <add key="HelpFODichTASIUtilizzo" value="?title=Dichiarazioni_TASI_UTILIZZO"/>
    
    <add key="HelpFODichTARSUOccupazione" value="?title=Stato_Occupazione"/>
    <add key="HelpFODichTARSUInizio" value="?title=Data_inizio_occupazione"/>
    <add key="HelpFODichTARSUCalcolo" value="?title=Dati_Calcolo_TARI"/>
    <add key="HelpFODichTARSUUtilizzo" value="?title=TARI_Tipo_Utilizzo"/>
    <add key="HelpFODichTARSUNC" value="?title=TARI_Num_Occupanti"/>
    <add key="HelpFODichTARSUNonDom" value="?title=TARI_Tipo_Attività"/>
    <add key="HelpFODichTARSUEsente" value="?title=Tari_Esente"/>
    <add key="HelpFODichTARSUAttach" value="?title=Tari_Allego_documentazione"/>
    <add key="HelpFODichTARSUUbicazione" value="?title=Tari_ubicazione"/>
    <add key="HelpFODichTARSUOccupanti" value="?title=Dichiarazioni_TARI_dati_componenti"/>
  </appSettings>
