<?xml version="1.0" encoding="utf-8"?>
<!--
  Per ulteriori informazioni sulla configurazione dell'applicazione ASP.NET, visitare
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="MySettingsReport" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <connectionStrings>
    <!--*** SQL PRE-PRODUZIONE***
    <add name="AnagraficaContext" connectionString="data source=10.168.88.145\sqlexpresspre;initial catalog=OPENgovANAGRAFICA_TRIBUTI;persist security info=True;user id=opengov;password=opengov;" providerName="System.Data.SqlClient" />
    <add name="SportelloContext" connectionString="data source=10.168.88.145\sqlexpresspre;initial catalog=OPENgovSPORTELLO_TRIBUTI;persist security info=True;user id=opengov;password=opengov;" providerName="System.Data.SqlClient" />-->
    <!--*** MySQL PRE-PRODUZIONE***
    <add name="SportelloContext" connectionString="data source=10.168.88.145;initial catalog=OPENgovSPORTELLO_TRIBUTI;persist security info=True;user id=root;password=iSimply2016;" providerName="MySql.Data.MySqlClient" />
    <add name="AnagraficaContext" connectionString="data source=10.168.88.145;initial catalog=OPENgovANAGRAFICA_TRIBUTI;persist security info=True;user id=root;password=iSimply2016;" providerName="MySql.Data.MySqlClient" />
    <add name="StradarioContext" connectionString="data source=10.168.88.145;initial catalog=OPENgovCOMUNISTRADE_TRIBUTI;persist security info=True;user id=root;password=iSimply2016;" providerName="MySql.Data.MySqlClient" />
    <add name="ICIContext" connectionString="data source=10.168.88.145;initial catalog=OPENgovICI_TRIBUTI;persist security info=True;user id=root;password=iSimply2016;" providerName="MySql.Data.MySqlClient" />
    <add name="TARSUContext" connectionString="data source=10.168.88.145;initial catalog=OPENgovTARSU_TRIBUTI;persist security info=True;user id=root;password=iSimply2016;" providerName="MySql.Data.MySqlClient" />-->
    <!--*** SQL PRE-PRODUZIONE GrandCombin***
    <add name="AnagraficaContext" connectionString="data source=10.168.88.145\sqlexpresspre;initial catalog=OPEN_ANAGRAFICA_GC;persist security info=True;user id=opengov;password=opengov;" providerName="System.Data.SqlClient" />
    <add name="SportelloContext" connectionString="data source=10.168.88.145\sqlexpresspre;initial catalog=OPENgovSPORTELLO_GC;persist security info=True;user id=opengov;password=opengov;" providerName="System.Data.SqlClient" />
    <add name="StradarioContext" connectionString="data source=10.168.88.145\sqlexpresspre;initial catalog=OPENgov_GC;persist security info=True;user id=opengov;password=opengov;" providerName="MySql.Data.SqlClient" />
    <add name="ICIContext" connectionString="data source=10.168.88.145\sqlexpresspre;initial catalog=OPENgovICI_GC;persist security info=True;user id=opengov;password=opengov;" providerName="MySql.Data.SqlClient" />
    <add name="TARSUContext" connectionString="data source=10.168.88.145\sqlexpresspre;initial catalog=OPENgovTIA_GC;persist security info=True;user id=opengov;password=opengov;" providerName="MySql.Data.SqlClient" />-->
    <!--*** SQL PRE-PRODUZIONE Sannicandro Garganico***
    <add name="AnagraficaContext" connectionString="data source=10.168.88.145\sqlexpresspre;initial catalog=OPENgovANAGRAFICA_SN;persist security info=True;user id=opengov;password=opengov;" providerName="System.Data.SqlClient" />
    <add name="SportelloContext" connectionString="data source=10.168.88.145\sqlexpresspre;initial catalog=OPENgovSPORTELLO_SN;persist security info=True;user id=opengov;password=opengov;" providerName="System.Data.SqlClient" />
    <add name="StradarioContext" connectionString="data source=10.168.88.145\sqlexpresspre;initial catalog=OPENgovCOMUNISTRADE_SN;persist security info=True;user id=opengov;password=opengov;" providerName="MySql.Data.SqlClient" />
    <add name="ICIContext" connectionString="data source=10.168.88.145\sqlexpresspre;initial catalog=OPENgovICI_SN;persist security info=True;user id=opengov;password=opengov;" providerName="MySql.Data.SqlClient" />
    <add name="TARSUContext" connectionString="data source=10.168.88.145\sqlexpresspre;initial catalog=OPENgovTARSU_SN;persist security info=True;user id=opengov;password=opengov;" providerName="MySql.Data.SqlClient" />-->
    <!--*** SQL PRODUZIONE***-->
    <add name="SportelloContext" connectionString="data source=192.168.14.204;initial catalog=OPENgovSPORTELLO_TRIBUTI;persist security info=True;user id=opengov;password=$!0p3ng0v;" providerName="System.Data.SqlClient"/>
    <add name="AnagraficaContext" connectionString="data source=192.168.14.204;initial catalog=OPENgovANAGRAFICA_TRIBUTI;persist security info=True;user id=opengov;password=$!0p3ng0v;" providerName="System.Data.SqlClient"/>
    <!--*** SQL DEMO PRODUZIONE***  
    <add name="SportelloContext" connectionString="data source=192.168.14.204;initial catalog=DEMO_OPENgovSPORTELLO;persist security info=True;user id=opengov;password=$!0p3ng0v;" providerName="System.Data.SqlClient"/>
    <add name="AnagraficaContext" connectionString="data source=192.168.14.204;initial catalog=DEMO_OPENgovANAGRAFICA;persist security info=True;user id=opengov;password=$!0p3ng0v;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <appSettings file="PagineWiki.config">
    <add key="Scope" value="FO" />
    <!-- Parametri configurazione Log4Net -->
    <add key="pathfileconflog4net" value="C:\Dev\PAL\Codice\OPENgovSPORTELLO\OPENgovSPORTELLO\bin\log4net.xml" />
    <!--<add key="TypeDB" value="MySQL"/>-->
    <add key="TypeDB" value="SQL" />
    <add key="TypeProtocollo" value="E" />
    <!--{S=standard ossia voce a parte, E=esterno ossia assegnato da sistema esterno ed autonomo, A=automatico ossia fatto nel momento in cui viene presa in carico l'istanza}-->
    <add key="IsFromOPEN" value="true" />
    <add key="SplitPWD" value="true" />
    <add key="UrlWiki" value="http://89.31.204.114/DEMO.sportellowiki/index.php" />
    <!--*** Parametri per MAIL DEMO***-->
    <add key="mailServerPort" value="25" />
    <add key="mailSSL" value="false" />
    <add key="mailSender" value="sportellodemo@isimply.it" />
    <add key="mailSenderName" value="Sportello Contribuente" />
    <add key="mailPassword" value="m4!lD3m0" />
    <add key="mailServer" value="smtp.isimply.it" />
    <add key="mailArchive" value="archiviodemo@isimply.it" />
    <add key="mailBackOffice" value="backofficedemo@isimply.it" />
    <add key="mailProtocollo" value="backofficedemo@isimply.it" />
    <add key="MailWarningRecipient" value="monica.tarello@isimply.it" />
    <add key="MailWarningSubject" value="Warning servizio DEMO Email Automatica" />
    <add key="MailWarningMessage" value="Buongiorno, in DEMO, a causa di un errore non è stata recapitata l'email:"></add>
    <add key="MailSendErrorMessage" value="Invio email, in DEMO, non terminato correttamente consultare il file di log"></add>
    <!--*** Parametri per MAIL DEBUG 
    <add key="mailServerPort" value="25"/>
    <add key="mailSSL" value="false"/>
    <add key="mailSender" value="inviomail.pre@isimply.it"/>
    <add key="mailSenderName" value="Sportello Contribuente"/>
    <add key="mailPassword" value="m4!l$pr3"/>
    <add key="mailServer" value="smtp.isimply.it"/>
    <add key="mailArchive" value="moki_t@libero.it"/>
    <add key="mailBackOffice" value="monica.tarello@isimply.it"/>
    <add key="mailProtocollo" value="monica.tarello@isimply.it"/>
    <add key="MailWarningRecipient" value="monica.tarello@isimply.it"/>
    <add key="MailWarningSubject" value="Warning servizio Email Automatica"/>
    <add key="MailWarningMessage" value="Buongiorno, a causa di un errore non è stata recapitata l'email:"/>
    <add key="MailSendErrorMessage" value="Invio email non terminato correttamente consultare il file di log"/>
    ***-->
    <!--*** ***-->
    <!--*** Parametri PERCORSO Sito ***-->
    <add key="pathsite" value="" />
    <add key="PortSite" value="" />
    <add key="UrlSite" value="" />
    <!--<add key="pathRepositoryPDF" value="C:\Dev\PAL\Codice\OPENgovSPORTELLO\OPENgovSPORTELLO\HTMLtoPDF\"/>-->
    <add key="pathRepositoryPDF" value="C:\Storage\Sviluppo_Dir_Appoggio\OPENgovSPORTELLO\HTMLtoPDF\" />
    <add key="pathRepositoryPDFUrl" value="../../HTMLtoPDF/" />
    <add key="PathWebDichiarazioni" value="/HTMLtoPDF/" />
    <add key="PathDichiarazioni" value="C:\Storage\Sviluppo_Dir_Appoggio\OPENgovSPORTELLO\Dichiarazioni\" />
    <add key="PathAttachments" value="C:\Storage\Sviluppo_Dir_Appoggio\OPENgovSPORTELLO\Attachments\" />
    <add key="PathLogo" value="C:\Dev\PAL\Codice\OPENgovSPORTELLO\OPENgovSPORTELLO\Images\" />
    <!--*** ***-->
    <!--*** Parametri per Import ***-->
    <add key="UrlImportDati" value="http://localhost:54271/api/acquirefile" />
    <add key="PathFlussiCarico" value="C:\Storage\Sviluppo_Dir_Appoggio\OPENgovSPORTELLO\ImportFlussi\" />
    <add key="UrlConvertFlussi" value="http://localhost:54271/api/convertfile" />
    <!--MB TEMPI MEDI-->
    <add key="UrlImportTempiPagamento" value="http://localhost:54271/api/importTempiPagamento" />
    <!--ORIGINALE 
    <add key="PathImportDati" value="C:\Users\monic\Downloads\SangroAventino-TrignoSinello\"/>***-->
    <add key="PathImportDati" value="C:\Storage\Sviluppo_Dir_Appoggio\OPENgovSPORTELLO\ImportFlussi\" />
    <!--*** Parametri per Catasto ***-->
    <add key="VisualCatasto" value="false" />
    <add key="TokenAuthCatasto" value="080042cad6356ad5dc0a720c18b53b8e53d4c274" />
    <add key="UrlCatasto" value="http://85.37.40.164/wg_sansalvo_wip/api/elabora.php" />
    <add key="UrlCatastoAuth" value="http://85.37.40.164/wg_sansalvo_wip/accesso_isimply.php" />
    <!--*** ***-->
    <!--*** Parametri Verticale ***-->
    <add key="UrlVerticale" value="http://utd.isimply.it" />
    <add key="UrlVerticaleICI" value="/OPENgovICI" />
    <add key="UrlVerticaleTARSU" value="/OPENgovTIA" />
    <!--*** ***-->
	  <!--***Parametri per IRIS PagoPA***-->
    <add key="CART_IRIS_Id" value="RTIRIS" />
    <add key="CART_IRIS_Sys" value="SIL_IRIS_ITR" />
    <!--*** ***-->
    <!--<add key="UserLockoutEnabledByDefault" value="false" />
    <add key="DefaultAccountLockoutTimeSpan" value="15" />
    <add key="MaxFailedAccessAttemptsBeforeLockout" value="3" />-->
  </appSettings>
  <!--*** Parametri JasperReport ***-->
  <MySettingsReport>
    <add key="PathServer" value="http://89.31.204.114:8080/jasperserver/rest_v2/reports/reports/" />
    <add key="User" value="jasperadmin" />
    <add key="Pwd" value="jSahuff96Fd6" />
    <add key="CartellaUnica" value="_CartellaUnica" />
  </MySettingsReport>
  <!--<location path="DefaultFO.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>-->
  <!--
    Per una descrizione delle modifiche al file web.config, vedere il sito Web all'indirizzo http://go.microsoft.com/fwlink/?LinkId=235367.

    Gli attributi seguenti possono essere impostati sul tag <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <!---->
    <!--prove logout: la riga commentata mantiene vivi i cookie alla chiusura del browser, con mode="forms" invece li cancella alla chiusura e l'utente deve riloggarsi -->
    <!--<authentication mode="None"/>-->
    <authentication mode="Forms" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime />
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Optimization" />
        <add namespace="Microsoft.AspNet.Identity" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <membership>
      <providers>
        <!--
        L'appartenenza ASP.NET è disabilitata in questo modello. Per informazioni sul supporto dell'appartenenza ASP.NET in questo modello, visitare il seguente collegamento http://go.microsoft.com/fwlink/?LinkId=301889
        -->
        <clear />
      </providers>
    </membership>
    <profile>
      <providers>
        <!--
        Il profilo di appartenenza ASP.NET è disabilitato in questo modello. Per informazioni sul supporto dell'appartenenza ASP.NET in questo modello, visitare il seguente collegamento http://go.microsoft.com/fwlink/?LinkId=301889
        -->
        <clear />
      </providers>
    </profile>
    <roleManager>
      <!--
          Il ruolo di appartenenza ASP.NET è disabilitato in questo modello. Per informazioni sul supporto dell'appartenenza ASP.NET in questo modello, visitare il seguente collegamento http://go.microsoft.com/fwlink/?LinkId=301889
        -->
      <providers>
        <clear />
      </providers>
    </roleManager>
    <!--
            Se si esegue la distribuzione a un ambiente cloud che include più istanze del server Web,
            è necessario modificare la modalità stato sessione da ""InProc"" a ""Custom"". È inoltre necessario
            modificare la stringa di connessione ""DefaultConnection"" per la connessione a un'istanza
            di SQL Server (inclusi SQL Azure ed SQL  Compact) anziché a SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ComunicazionePosizioniDebitorieOTFBinding" />
        <binding name="wsOTFSoap" />
        <binding name="wsVerificaStatoSoap" />
        <binding name="VerificaStatoPagamentoBinding" />
      </basicHttpBinding>
      <customBinding>
        <binding name="ComunicazionePosizioniDebitorieOTFBinding1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="wsOTFSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="wsVerificaStatoSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="VerificaStatoPagamentoBinding1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:63929/wsOTF.asmx" binding="basicHttpBinding" bindingConfiguration="ComunicazionePosizioniDebitorieOTFBinding" contract="srOTF.ComunicazionePosizioniDebitorieOTFBinding" name="ComunicazionePosizioniDebitorieOTFBinding" />
      <endpoint address="http://localhost:63929/wsOTF.asmx" binding="basicHttpBinding" bindingConfiguration="wsOTFSoap" contract="srOTF.wsOTFSoap" name="wsOTFSoap" />
      <endpoint address="http://localhost:63929/wsOTF.asmx" binding="customBinding" bindingConfiguration="ComunicazionePosizioniDebitorieOTFBinding1" contract="srOTF.ComunicazionePosizioniDebitorieOTFBinding" name="ComunicazionePosizioniDebitorieOTFBinding1" />
      <endpoint address="http://localhost:63929/wsOTF.asmx" binding="customBinding" bindingConfiguration="wsOTFSoap12" contract="srOTF.wsOTFSoap" name="wsOTFSoap12" />
      <endpoint address="http://localhost:63929/wsVerificaStato.asmx" binding="basicHttpBinding" bindingConfiguration="wsVerificaStatoSoap" contract="srVerificaStato.wsVerificaStatoSoap" name="wsVerificaStatoSoap" />
      <endpoint address="http://localhost:63929/wsVerificaStato.asmx" binding="basicHttpBinding" bindingConfiguration="VerificaStatoPagamentoBinding" contract="srVerificaStato.VerificaStatoPagamentoBinding" name="VerificaStatoPagamentoBinding" />
      <endpoint address="http://localhost:63929/wsVerificaStato.asmx" binding="customBinding" bindingConfiguration="wsVerificaStatoSoap12" contract="srVerificaStato.wsVerificaStatoSoap" name="wsVerificaStatoSoap12" />
      <endpoint address="http://localhost:63929/wsVerificaStato.asmx" binding="customBinding" bindingConfiguration="VerificaStatoPagamentoBinding1" contract="srVerificaStato.VerificaStatoPagamentoBinding" name="VerificaStatoPagamentoBinding1" />
    </client>
  </system.serviceModel>
</configuration>